.App {
  text-align: center;
}

.submit-button {
  height: 36px;
  margin: 10px;
  display: flex;
}

.blog-posting {
  width: 95%;
  margin: 10px;
  opacity: 90%;
  align-self: center;
}

.blog-content {
  width: 95%;
  margin: 0px 10px;
  text-align: left;
}

.blog-container {
  padding: 10px;
  margin: 0px auto;
  float: left;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.blog-title-section {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}

.blog-published-date {
  align-self: center;
  margin: 10px;
  padding: 10px;
}

.blog-title {
  align-self: center;
  padding: 10px;
  margin: 10px;
  height: auto;
}

.blog-description {
  margin: 10px;
  text-align: left;
}

.title-hr {
  margin-top: 0px;
  padding-top: 0px;
}

.category-list {
  float: right;
}

.navbar-text {
  padding: 0px;
  margin: 0px;
}

.content-wrapper {
  padding: 10px;
}

.content {
  text-align: left;
  white-space: pre;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 10px 0px;
}

.row-item {
  padding: 5px;
}

.bordered {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.nav-item {
  align-self: middle;
}

.login-button {
  float: right;
}

.blog-page-container {
  display: flex;
  flex-direction: row;
}

.tags-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  height: 100%;
}

.post-tag {
  margin: 2px;
  color: inherit;
}

.post-tag-text {
  margin: 2px;
  color: inherit;
}

#top-row {
  background-color: grey;
  display: flex;
}

#test-blog {
  width: 90%;
  border-style: dashed;
  border-width: 2px;
  border-color: black;
}

/* BlogForm start*/

@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");

#blog-textarea {
  width: 90%;
}

.title-section {
  font-family: "Concert One";
  margin-bottom: 2 0px;
}

.label {
  text-align: right;
  margin-right: 20px;
  width: 10%;
}

.content {
  text-align: left;
  width: 75%;
}

.half-centered {
  text-align: center;
  width: 45%;
}

#content-input {
  resize: none;
  width: 90%;
  height: auto;
  margin-bottom: 50px;
}

#title-input {
  resize: none;
  vertical-align: middle;
}

#tags-input {
  resize: none;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}

#preview-label {
  margin: auto 0px;
}

.form-input {
  width: 90%;
}

textarea:required:invalid {
  outline: none;
  border: none;
}

/* Blogform end */
